.App {
  display: flex;
  justify-content: center;
}

.chart {
  padding: 10px;
  height: 70vh;
  width: 60vw
}

@media screen and (max-width: 1200px) {
  .chart {
    height: 50vh;
    width: 60vw
  }
}

@media screen and (max-width: 990px) {
  .chart {
    width: 80vw
  }
}

@media screen and (max-width: 768px) {
  .chart {
    width: 100vw
  }
}
